
<form action="/usuario/reg" method="post" class="form container col-sm-6 p-3 ">
  <h2>Registro de nuevo usuario</h2>
    {{#each err}}
        <div class="alert alert-danger" role="alert">-{{this}}</div>
    {{/each}}
  <h4>Datos personales</h4>
  <div class="mb-5">
    <label class="form-label">Nombre</label>
    <input type="text" required class="form-control" name="nom" pattern="[^()/><\][\\\x22\x27,;|]+" title="no se permiten caracteres especiales">

    <label class="form-label">Apellido Paterno</label>
    <input type="text" required class="form-control" name="pat" pattern="[^()/><\][\\\x22\x27,;|]+" title="no se permiten caracteres especiales">

    <label class="form-label">Apellido Materno</label>
    <input type="text" required class="form-control" name="mat" pattern="[^()/><\][\\\x22\x27,;|]+" title="no se permiten caracteres especiales">
  </div>

  <h4>Datos de inicio de sesiòn</h4>
  <div class="mb-2">
    <label class="form-label">Nombre del usuario</label>
    <input type="text" required class="form-control" name="user" pattern="[^()/><\][\\\x22\x27,;|]+" title="no se permiten caracteres especiales">
  </div>
  <div class="mb-4">
    <label class="form-label">Contraseña</label>
    <input type="password" required  class="form-control" name="pass" pattern="[^()/><\][\\\x22\x27,;|]+" title="no se permiten caracteres especiales">

    <label class="form-label">Repita la contraseña</label>
    <input type="password" required  class="form-control" name="rpass">
  </div>
  <button type="submit" required  class="btn btn-primary">Registrar</button>
</form>