:root {
    --pri:#94d3df;
    --priH:#3e4143;
    --dark:#3e4143;
    --dan:#E63981;
    --fondo: #fefefe;
    --txt:#333;
}
body{
    background-color: var(--fondo);
    color:var(--txt);
    box-sizing: border-box;
}

.btn-pri{
    background-color: var(--pri);
    border:2px solid var(--pri);
    color:var(--priH);
    margin-inline:3px;
}

.btn-pri:hover,.btn-pri:disabled{
    background-color: var(--priH);
    border:2px solid var(--priH);
    color: var(--pri);
}

.btn-sec{
    border:2px solid var(--priH);
    background-color: transparent;
    color:var(--priH);
}

.btn-sec:hover,.btn-sec:disabled{
    background-color: var(--priH);
    color:white;
}

.btn-ter{
    color: var(--pri);
    background-color: transparent;
    border:none;
}

.btn-dan{
    border:none;
    border:2px solid rgba(0,0,0,0);
    background-color: transparent;
    color:var(--dan) !important;
}

.btn-dan:hover{
    border:2px solid var(--dan);
    background-color: var(--dan);
    color:white !important;
}

.nav-link{
    border-bottom: none;
    color:black;
}

.nav-link.active{
    border-bottom: 0.3rem solid var(--pri);
    padding:0 10px 0 10px;
    color:black;
}

.navbar{
    border-bottom: 2px solid var(--dark);
}


.dark, .dark:hover{
    background-color: var(--dark) !important;
    color: white !important;
}

.dark2, .dark2:hover{
    background-color: #959c9e !important;
    color: black !important;
}


