.tab-header1{
    max-width: 5rem;
}

.c1{
    width:4em;
}

.c2{
    width:3.4em;
}

.c3{
    width: 4.4em;
}

.c1,.c2,.c3{
    top: 1.7em;
}

.casilla{
    height: 5.4em;
}

th.vert {
    white-space: nowrap;
    position:relative;
    height:10em;
}

.margin-l{
    margin-left: 1px black !important;
}
.margin-r{
    margin-right: 3px black !important;
}

  
th.vert > div {
    transform: rotate(90deg);
    position:absolute;
    left:0;
    right:0;
    top: 0px;
    margin:auto;
}


.sesionesTabAdmin
{
    font-size: 0.9vw;
}

.transparente{
    color:transparent;
}
