{{>navUsr comites=comites }}
<form action={{action}} method='post' class="form container col-sm-9 p-3 ">
    <h1>Nueva sesiòn</h1>
    <div class="mb-2">
    <label class="form-label">Asunto</label>
    <input type="text" required class="form-control" name="comite" pattern="[^()/><\][\\\x22\x27,;0123456789|]+" title="no se permiten caracteres especiales">
    </div>
    <div class="mt-4">
    <label class="form-label">Duraciòn</label>
        <div class="row">
            <div class="px-5">
                
                <label class="form-label">Del</label>
                <input type="date" name="fi" id=""> 
            </div>
            <div class="px-5">
                <label class="form-label">Al</label>
                <input type="date" name="fc" id=""> 

            </div>
        </div>
    </div>

    <h2 class="mt-5">Documentos relacionados</h2>
    <button type="button" class="btn btn-ter">Añadir documento</button>
    <table class="table">
        <tr>
            <th>Tipo de documento</th>
            <th>Documento</th>
            <th>Acciones</th>
        </tr>

    </table>
    <button type="submit" class="btn btn-pri">Guardar</button>
    <a href="/" class="btn btn-sec">Volver</a>

</form>